{% extends "base.html" %}
{% load static %}

{% block header %}

<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"  type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"  type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"  type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-clustering.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css"  href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

{% endblock %}

{% block head_style %}
  #mapContainer {
      position: relative;
      height: 90%;
      width: 100%;
      border: 1px solid #cccccc;
  }
{% endblock %}

{% block content %}
<div id="mapContainer"></div>

<script type="text/javascript" visibility='hidden'>
var platform = new H.service.Platform({
  'apikey': '<YOUR API>'
});

var loc = [{% for location in object_list.Location %}
              {% if not forloop.first %},{% endif %}
              [{{location.lat}}, {{location.lng}}]
          {% endfor %}];

var defaultLayers = platform.createDefaultLayers();
// Create a style object:
var customStyle = {
  fillColor: 'rgba(255, 0, 0, 0.5)',
  strokeColor: 'red',
};
// Instantiate (and display) a map object:
var map = new H.Map(
    document.getElementById('mapContainer'),
    defaultLayers.raster.normal.map,
    {
      zoom: 14,
      center: { lat: 5.3678384,lng: -4.0157655 }
    });
// Enable the event system on the map instance:
var mapEvents = new H.mapevents.MapEvents(map);


// Instantiate the default behavior, providing the mapEvents object:
var behavior = new H.mapevents.Behavior(mapEvents);

//Clustering Data Points
var dataPoints = [];
for (let index = 0; index < loc.length; index++) {
  dataPoints.push(new H.clustering.DataPoint(loc[index][0],loc[index][1]));  
}

var clusteredDataProvider = new H.clustering.Provider(dataPoints, {
  clusteringOptions: {
    eps: 32,
    minWeight: 1
  }
});

// SVG template to use for noise icons
var noiseSvg = '<svg xmlns="http://www.w3.org/2000/svg" height="20px" width="20px"><circle cx="5px" cy="5px" r="5px" fill="rgba(255, 139, 0, 0.7)" /></svg>';

// Create an icon to represent the noise points
// Note that same icon will be used for all noise points
var noiseIcon = new H.map.Icon(noiseSvg, {
    size: { w: 20, h: 20 },
    anchor: { x: 10, y: 10},
  });

// SVG template to use for cluster icons
var clusterSvgTemplate = '<svg xmlns="http://www.w3.org/2000/svg" height="{diameter}" width="{diameter}">' +
    '<circle cx="{radius}px" cy="{radius}px" r="{radius}px" fill="rgba(255,0,0,0.8)" />' +
    '</svg>';

// Create a clustered data provider and a theme implementation
var clusteredDataProvider = new H.clustering.Provider(dataPoints, {
    theme: {
      getClusterPresentation: function(cluster) {
        // Use cluster weight to change the icon size
        var weight = cluster.getWeight(),
          // Calculate circle size
          radius = weight * 5,
          diameter = radius * 2,

          // Replace variables in the icon template
          svgString = clusterSvgTemplate.replace(/\{radius\}/g, radius).replace(/\{diameter\}/g, diameter);

          // Create an icon
          // Note that we create a different icon depending from the weight of the cluster
          clusterIcon = new H.map.Icon(svgString, {
            size: {w: diameter, h: diameter},
            anchor: {x: radius, y: radius}
          }),

          // Create a marker for the cluster
          clusterMarker = new H.map.Marker(cluster.getPosition(), {
            icon: clusterIcon,

            // Set min/max zoom with values from the cluster, otherwise
            // clusters will be shown at all zoom levels
            min: cluster.getMinZoom(),
            max: cluster.getMaxZoom()
          });

        // Bind cluster data to the marker
        clusterMarker.setData(cluster);

        return clusterMarker;
      },
    getNoisePresentation: function(noisePoint) {
      // Create a marker for noise points:
      var noiseMarker = new H.map.Marker(noisePoint.getPosition(), {
            icon: noiseIcon,

            // Use min zoom from a noise point to show it correctly at certain zoom levels
            min: noisePoint.getMinZoom()
          });

      // Bind noise point data to the marker:
      noiseMarker.setData(noisePoint);
      return noiseMarker;
    }
  }
});


// Create a layer that includes the data provider and its data points: 
var Clusterlayer = new H.map.layer.ObjectLayer(clusteredDataProvider);



// Add the layer to the map:
map.addLayer(Clusterlayer);


// Add event listeners:
map.addEventListener('tap', function(evt) {
    // Log 'tap' and 'mouse' events:
    console.log(evt.type, evt.currentPointer.type);
});


// Get an instance of the search service:
var service = platform.getSearchService();

// service.geocode({
//   q: 'KOumAssI, ABidjAn'
// }, (result) => {
//   // Add a marker for each location found
//   result.items.forEach((item) => {
//     map.addObject(new H.map.Marker(item.position));
//   });
// }, alert);

var ui = H.ui.UI.createDefault(map, defaultLayers);
</script>
{% endblock %}